.topbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: rgb(207, 24, 24);
    color: white;
    gap: 20px;
}

#save{
    width:67%;
    height: 50px;
    color: white;
    background-color: #c90202;
    margin: 20px;
    border-width:10px;
    border-color: rgb(187, 1, 1);
}

.salvataggio{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: rgb(221, 57, 57);
    border-radius: 20%;
    margin: 10px;
}

.inserimento{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    padding: 20px;
    background-color: rgb(221, 57, 57);
    
}

p{
    text-align: left;
}

.titolo{
    border-width: 10px;
    border-color: rgb(187, 1, 1); 
    width: 90%;
    height: 30px;
    background-color: #c90202;
    color: white;
}

.content{
    border-width: 10px;
    border-color: rgb(187, 1, 1); 
    width: 90%;
    height: 50px;
    background-color: #c90202 ;
    color: white;
}